<template>
  <div class="home-container">
    <div class="home-container-header">Planet Hopper</div>
    <div class="home-container-content">
      <div class="home-container-content-planets">
        <div
          v-for="(planet, index) in planets"
          :key="index"
          @click="onClickSelectPlanet(planet)"
        >
          <PlanetComponent
            :planet="planet"
            :class="selectedPlanets.includes(planet) ? 'selected' : ''"
          />
        </div>
        <button
          @click="onFetchNewPage"
          v-if="!buttonDisabled && currentPage !== 6"
          class="home-container-content-planets-button"
        >
          <span>Fetch More</span>
        </button>
        <div class="home-container-content-planets-loading" v-else>
          <Loading :current-page="currentPage" />
        </div>
      </div>
      <div class="home-container-content-selection-list">
        <div class="home-container-content-selection-list-header">
          Your planetary route
        </div>
        <div
          class="home-container-content-selection-list-item"
          v-for="planet in selectedPlanets"
          :key="planet.name"
        >
          <div class="home-container-content-selection-list-item-name">
            {{ planet.name }}
          </div>
        </div>
        <div
          class="home-container-content-selection-list-clear-all"
          @click="selectedPlanets = []"
        >
          clear all
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { usePlanets } from "../composables/usePlanets";
import { onMounted, Ref, ref, UnwrapRef } from "vue";
import { PlanetService } from "../services/PlanetService";
import { Planet } from "../types/types";
import PlanetComponent from "./PlanetComponent.vue";
import Loading from "./Loading.vue";

const { getPlanets } = usePlanets();

const planets = ref<Planet[]>([]);

const currentPage = ref(0);

const buttonDisabled = ref(false);

const selectedPlanets = ref<Planet[]>([]);

function onClickSelectPlanet(planet: Planet) {
  if (selectedPlanets.value.includes(planet)) {
    selectedPlanets.value.splice(selectedPlanets.value.indexOf(planet), 1);
  } else {
    if (selectedPlanets.value.length < 5) selectedPlanets.value.push(planet);
  }
}

onMounted(async () => onFetchNewPage());

async function onFetchNewPage() {
  buttonDisabled.value = true;
  currentPage.value++;
  let temp = await getPlanets(new PlanetService(), currentPage.value);
  planets.value = [...planets.value, ...temp];
  buttonDisabled.value = false;
}
</script>

<style scoped lang="scss">
.home-container {
  padding: 32px;
  height: 80vh;

  &-header {
    font-size: 64px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-content {
    display: flex;
    padding-top: 32px;
    height: 80vh;

    &-planets {
      width: 55%;
      padding-left: 64px;
      padding-right: 64px;
      overflow: auto;

      &-loading {
        margin-top: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-button {
        padding: 30px;
        background: none;
        border: 1px solid rgba(179, 180, 180, 0.89);
        color: gray;
        margin-top: 10px;
        width: 100%;
        span {
          display: flex;
          justify-content: center;
        }
      }
    }
    &-selection-list {
      margin-top: 16px;
      width: 45%;
      background: rgba(76, 217, 76, 0.47);
      &-header {
        font-size: 26px;
        text-align: center;
        margin-top: 16px;
      }

      &-item {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        &-name {
          background: white;
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &-clear-all {
        @extend .home-container-content-selection-list-item;
        color: red;
        cursor: pointer;
      }
    }
  }
}

.selected {
  border: 1px solid green;
  background: rgba(0, 128, 0, 0.06);
}

@media only screen and (max-width: 750px) {
  .home-container {
    padding: 0;
    &-header {
      font-size: 32px;
    }
    &-content {
      display: flex;
      flex-direction: column;
      padding:0;
      &-planets {
        width: 100%;
        padding: 0;
        order: 2;
      }
      &-selection-list {
        width: 100%;
        order: 1;
      }
    }
  }
}
</style>
