<template>
  <div class="planet-container">
    <div class="planet-container-image">
      <img :src="props.planet.image" alt="image"/>
    </div>
    <div class="planet-container-info">
      <div class="planet-container-info-name">
        {{props.planet.name}}
      </div>
      <div class="planet-container-info-bottom">
        <div class="planet-container-info-bottom-terrain">{{props.planet.terrain}}</div>
        <div class="planet-container-info-bottom-population">{{population}}</div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { Planet } from "../types/types";
import {computed} from "vue";

const props = defineProps<{
  planet: Planet;
}>();

const population = computed(()=>{
  if(Number(props.planet.population).toLocaleString() !== 'NaN'){
    return Number(props.planet.population).toLocaleString();
  }
  else{
    return "Population unknown";
  }
})
</script>

<style scoped lang="scss">
.planet-container{
  border:1px solid rgba(179, 180, 180, 0.89);
  height:100px;
  margin-top:16px;
  display:flex;
  &-image{
    width:130px;
    display:flex;
    align-items: center;
    justify-content: center;
    img{
      height:90px;
      width:90px;
    }
  }
  &-info{
    display:flex;
    height:100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width:100%;
    margin-left:5px;
    &-name{
      font-size:22px;
      font-weight:600;

    }
    &-bottom{
      display:flex;
      flex-direction: column;
      color:gray;
      font-size:18px;
    }
  }
}
</style>
